@media(max-width : 500px) {
    .contact-titre{
        position : absolute ;
        top:50%
    }
    .center{
        flex-direction: column;
        margin-top: 20%;

    }
    .annonce-info .contact-titre{
         width: 98%;
    }
    .annonce-info{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .annonce-info img{
        max-width : 100%;
        height :auto ;
    }

}
.center{
    margin-top : 5% ;
    display :flex ;
    flex-wrap : wrap ;
    
    justify-content: space-between;
}
.annonce-info{
    position : relative ;
    right : 10% ;
    border: 1px solid ;
    width:400px ;
}
.annonce-info h1 {
    text-align: center;
}
.annonce-info p {
    text-align: center;
    font-size :15px ;

}
.annonce-info span {
    font-size :15px ;
    font-weight: bold;

}

hr{
    margin-top : 5px ;
}
.contact-titre{
    margin-left: 40px;
    position : relative ;
   
}

.contact-titre h1{
    font-size: 22px;
    font-weight: bold;
}
.reservation-prix{
    font-weight: bold;
    font-size : 25px;

}
.profil-image{
    width :60px ;
    height: 60px;
    border-radius: 50%;
    position : relative ;
    top : 20px;
    margin-right: 15px;
    display: flex;
}
.propritaire-image{
    width :60px ;
    height: 60px;
    border-radius: 50%;
    position : relative ;
    top : 20px;
    margin-right: 15px;
    display: flex;
}
.btn-confirmer{
   margin-left : 20px ;
   width : 100px ;
   height: 30px;
   margin-top: 35px;
   margin-bottom: 20px;
}
form textarea{
    width: 500px ;
    height : 90px;
    margin-left : 10px ;
    
}
form{
  margin-top: 10%;
  display : flex ;
}
form button{
    margin-left: 10px;
    margin-top: 20px;
    
}
.propritaire{
    display : flex;
    margin: 10px;
}
.locataire{
    display: flex;
    margin: 10px;
}
.propritaire span{
    background-color: rgb(223, 211, 211);
    margin-left : 5% ;
    border-radius: 10rem;
    text-align: center;
    width: 400px;
    height: auto;
}



.container-msg {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }