.grid {
    
    grid-template-columns: repeat(3, 1fr);
   
}

.form-12 .form-12-content {
    background: url("/assets/img/post-4.jpg") no-repeat ;
    background-size: cover;
    padding: 8rem 0px;
    position: relative;
    z-index: 1; }
  
  .form-12 .form-12-content:before {
    content: "";
    background: rgba(0, 33, 71, 0.4);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1; }
  
  .form-12 .grid {
    display: grid; }
  
  .form-12 .grid-column-2 {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 30px; }
  
  .form-12 .tagline {
    color: var(--theme-color);
    text-transform: uppercase;
    line-height: 30px;
    font-size: 24px;
    font-weight: 700; }
  
  .form-12 .form-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px; }
  
  .form-12 .column1 {
    align-self: center;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 8px solid rgba(255, 255, 255, 0.35); }
  
  .form-12 .form-para {
    margin: 10px 0;
    color: var(--title-color);
    line-height: 35px;
    font-size: 26px;
    font-weight: normal;
    font-style: normal; }
  
  .form-12 select {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background: #fff;
    color: #686868;
    border: 1px solid #eee;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 45px;
    padding-left: 15px;
    -webkit-appearance: none;
    padding-right: 15px; }
  
  .form-12 select {
    width: 100%;
    cursor: pointer;
    -webkit-appearance: none;
    /*background-image: url(../images/down.png);*/
    background-repeat: no-repeat;
    background-position: 93% 52%; }
  
  .form-12 select:focus {
    border: 1px solid var(--opposite-color);
    outline: none; }
  
  .form-12 button.btn {
    background: var(--opposite-color);
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: 700;
    padding: 12px 25px;
    border: none;
    display: block; }
  
  .form-12 button.btn:hover {
    background: var(--theme-color);
    transition: 0.3s ease-in; }
  
  .form-12 .blog-search form {
    position: relative; }
  
  .form-12 .search-form input {
    font-size: 16px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #eee;
    width: calc(100% - 50px); }
  
  .form-12 button.search-btn {
    border: none;
    min-width: 50px;
    margin: 0;
    font-size: 16px;
    height: 50px;
    text-align: center;
    display: inline-block;
    color: #fff;
    border-radius: 0 4px 4px 0;
    background: var(--opposite-color); }
  
  .form-12 .search-form input:focus {
    background: #fff;
    outline: none;
    border: none;
    box-shadow: none;
    border: 1px solid var(--opposite-color); }
  
  @media (max-width: 1080px) {
    .form-12 .column1 {
      align-self: center;
      background: rgba(255, 255, 255, 0.97);
      padding: 2rem; } }
  
  @media (max-width: 992px) {
    .form-12 .grid-column-2 {
      grid-template-columns: 0.5fr 1fr; } }
  
  @media (max-width: 768px) {
    .form-12 .form-12 {
      padding: 30px 0px; } }
  
  @media (max-width: 736px) {
    .form-12 .grid-column-2 {
      grid-template-columns: 1fr; } }
  
  @media (max-width: 480px) {
    .form-12 .form-12-content {
      padding: 3em 0px; } }
  
  @media (max-width: 415px) {
    .form-12 .tagline {
      line-height: 24px;
      font-size: 18px; }
    .form-12 .form-top {
      grid-column-gap: 14px; }
    .form-12 .column1 {
      padding: 2rem 1rem; } }
    #btn-s{
        background-color:  #02ad88 ;
    }
    #sub-btn{
        background-color:  #02ad88 ;
    }

    .villeselect {
       margin: 10px ;
       margin-top: 20% ;

    }
    