

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
<div clas="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	    
    <h1>Réinitialiser le mot de passe?</h1>
	
<br>
        <h2 class="text-center">Réinitialiser le mot de passe?</h2>
        Vous pouvez réinitialiser votre mot de passe ici.
        <br>
        <br>

	
	<form   [formGroup]="resetForm" (ngSubmit)="reset(resetForm)"   >
	
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="NewPassword"  formControlName="password"  type="password" >
     
       
      </div>  
      <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="RepeatPassword"  formControlName="confirmPassword"  type="password" >
     
       
      </div>   
                                 
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"   > Envoiyer </button>
    </div> 
                                                              
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->






  

 
   