 <div class="header">
    <a href="#default" class="logo"><p class="admin-interface">Interface <span class="colorB">d'administration</span></p></a> 
    <div class="header-right">
      <a  routerLink="annonces" class="mat-icon">
        <mat-icon matBadge="{{numberAnnoces}}" matBadgeColor="warn">assignment_turned_in</mat-icon>
      </a>
      <a  routerLink=""></a>
      <a class="active" routerLink="">accueil</a>
     
      <a class="active1"  routerLink="auth/login" (click)="logout()">déconnexion</a>
     
       
     
    </div>
  </div> 

 