

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
<div clas="card bg-light" >
<article class="card-body mx-auto" style="max-width: 400px;">
	    <br>
	    <br>
	    <br>
	    <br>
	    <br>
	    <br>
	
        <h2 class="text-center">Réinitialiser le mot de passe?</h2>
        Entrez l'adresse e-mail associée à votre compte, et nous vous enverrons un lien pour réinitialiser votre mot de passe.
  <br>
  <br>
  <p class="message-error" *ngIf="message">{{message}}</p>

	<form  [formGroup]="forgetForm" (ngSubmit)="forget(forgetForm)"  >
	
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Email"  formControlName="email"  type="email" >
      </div>    
                                 
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!forgetForm.valid" id="buttonLogin" > Envoyer le lien de réinitialisation </button>
    </div> 
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->






  

 
   