/* You can add global styles to this file, and also import other style files */
/*@import "~bootstrap/dist/css/bootstrap.css" ;*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cal-week-view .cal-time-events {
    max-height: 300px;
    overflow-y: auto;
  }
  
  .cal-day-headers {
    margin-right: 14.5px;
  }
  
  .cal-day-columns {
    height: 100%;
  }